<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phh.dao.mem.UserDAO">

    <resultMap id="BaseResultMap" type="com.phh.do.mem.UserDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="userName" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nickName" jdbcType="VARCHAR" property="nickName"/>
        <result column="realName" jdbcType="VARCHAR" property="realName"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="status" jdbcType="SMALLINT" property="status"/>
        <result column="createdAt" jdbcType="DATETIME" property="createdAt"/>
        <result column="updatedAt" jdbcType="DATETIME" property="updatedAt"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
    </resultMap>

    <sql id="Base_Column_List">
         id, userName, password, nickName, realName, mobile, email, sex, type, status, createdAt, updatedAt, state
    </sql>

    <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM mem_user
        WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM mem_user WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.phh.do.mem.UserDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mem_user ( id, userName, password, nickName, realName, mobile, email, sex, type, status, createdAt, updatedAt, state,)
        VALUES (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}, #{status,jdbcType=SMALLINT}, #{createdAt,jdbcType=DATETIME}, #{updatedAt,jdbcType=DATETIME}, #{state,jdbcType=TINYINT})
    </insert>

    <update id="update" parameterType="com.phh.do.mem.UserDO">
        UPDATE mem_user
        <set>
            <if test="userName != null">
                userName = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nickName = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                realName = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=TINYINT},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=SMALLINT},
            </if>
            <if test="createdAt != null">
                createdAt = #{createdAt,jdbcType=DATETIME},
            </if>
            <if test="updatedAt != null">
                updatedAt = #{updatedAt,jdbcType=DATETIME},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=TINYINT},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

</mapper>